[2018-04-10 21:17] preston opened #1 "Example issue."
https://github.com/preston/vha-kbs-knarts/blob/002540d9fff104f743d5f198d9875f3bf402f3a2/content/cardiology-arrhythmias/CDSK_KRprt_OS_B12EPOther.xml#L70

[2018-04-11 01:35] preston opened #2 "Applicability should have valid coded concept references."
https://github.com/preston/vha-kbs-knarts/blob/002540d9fff104f743d5f198d9875f3bf402f3a2/content/cardiology-arrhythmias/CDSK_KRprt_OS_B12EPOther.xml#L351

[2018-04-11 01:39] preston opened #3 "Codes munged with display attributes."
I'm sure there is a reason for this, but this seems very wrong. As a consumer I would expect the value of all "code" attributes to only contain the string literal of the formal code. https://github.com/preston/vha-kbs-knarts/blob/002540d9fff104f743d5f198d9875f3bf402f3a2/content/cardiology-arrhythmias/CDSK_KRprt_OS_B12EPOther.xml#L448

[2018-04-11 01:42] preston opened #4 "Reason for consult may need to be "All" behavior."
Shouldn't this be "All"? ..since the behavior is only applicable if the parent condition is true. Please correct me if I'm wrong.

https://github.com/preston/vha-kbs-knarts/blob/002540d9fff104f743d5f198d9875f3bf402f3a2/content/cardiology-arrhythmias/CDSK_KRprt_OS_B12EPOther.xml#L581

[2018-04-11 01:46] preston opened #5 "CSD actionGroup indentation seems slightly buggy."
The last item of a group seems to be incorrectly indented a level too deep. This is confusing and misleading, as it does not align with the structure in the source XML.

[2018-04-11 01:47] preston opened #6 "Need DocBook intermediary files."
This is a general request to provide DocBook files, both manually and programmatically generated.

[2018-05-11 23:00] preston opened #136 ""LABEL: " prefix on titles and citations."
This smells like some sort of placeholder residue. Assuming it's cruft that has no purposeful meaning or function to the consumer, it should be removed. E.g.:

https://github.com/preston/vha-kbs-knarts/blob/babe262b292fabe980be77e5d3f2e9d0a9880a42/content/cardiology_chest_paincad_clinical_white_paper/b5/CDSK_KRprt_OS_B5CPCAD.XML#L126

https://github.com/preston/vha-kbs-knarts/blob/41894b0fc6909f0d

[2018-05-16 23:34] preston opened #183 "Given and family names are reversed."
This definitely happens to some instances of "Bruce Bray", but only some of them. :)

In all contributor lists for all delivered artifacts, the first (given) and last (family) names of the contributors are _reversed_. E.g. for Bruce:

https://github.com/preston/vha-kbs-knarts/blob/612e893c65226b306a71c1b9869c39f53554a3af/content/cardiology_ep_arrhythmias_devices/b7/CDSK_KRprt_OS_B7EPSVT.XML#L478

[2018-05-16 23:41] preston opened #185 "Inconsistent contributor "title" elements"
In cases where the author has multiple suffixes to their name, such as "MD" and "PhD", declaration varies between:

1. Just picking one or the other.
1. Using multiple "TITLE" types.
1. Using a single "TITLE" and joining the suffixes with a comma.

E.g. Some variations for Aiden Abidov:

https://github.com/preston/vha-kbs-knarts/blob/612e893c65226b306a71c1b9869c39f53554a3af/content/cardiology_ches

[2018-05-16 23:51] preston opened #186 "Caitlin M. Cusack has two first names."
In some cases, Caitlin has two given (first) names -- "Caitlin" and "M." -- and in others a single given name "Caitlin M.". E.g.
https://github.com/preston/vha-kbs-knarts/blob/612e893c65226b306a71c1b9869c39f53554a3af/content/womens_health_cervical_cancer_screening/o22/CDSK_KRprt_SADT_O22CervCan.xml#L220

The labels correspond to cases with multiple first names.

[2018-05-25 14:35] a-dru-desai opened #258 "Endocrinology hypoglycemia - b33"
Linda - please review the KNART b33 located at:
https://github.com/preston/vha-kbs-knarts/tree/master/content/endocrinology_hypoglycemia/b33

[2018-09-07 20:17] preston opened #439 "Submit revised eye care artifact materials to CDS Connect"
I'm currently wrapping up presentational changes to connect.json, and @ssebast2 is expecting a version for review (by their team) NLT Monday.

[2018-09-21 19:44] preston opened #441 "Clean up erroneous empty directories."
Not sure if these are manifested.

[2018-10-04 19:29] preston opened #442 "Remove placeholder content"
Colonoscopy - b2
Colonoscopy - b29
Womens health breast cancer screening - b44

[2018-10-04 20:02] preston commented on #441
Fixed.

[2018-10-04 20:02] #441 closed

[2018-10-04 20:02] preston commented on #442
Fixed.

[2018-10-04 20:02] #442 closed

[2018-10-05 00:05] preston commented on #439
Has been published

[2018-10-05 00:05] #439 closed

[2018-10-05 00:08] preston commented on #185
Should now be consistent across all artifacts. All current artifacts have been revalidated.

[2018-10-05 00:08] #185 closed

[2018-10-05 00:09] preston commented on #186
Should now be consistent across all artifacts. All current artifacts have been revalidated.

[2018-10-05 00:09] #186 closed

[2018-10-05 00:18] preston commented on #183
Should now be consistent across all artifacts. All current artifacts have been revalidated.

[2018-10-05 00:18] #183 closed

[2018-10-16 17:19] linophth opened #443 "New VA consults policy"
https://github.com/OSEHRA/vha-kbs-knarts/blob/44bb353f460ce3502673efd2889a49b10c1df751/content/primary_care_failed_visits_and_failed_or_delayed_consults/o7/CDSK_KRprt_ECA_O7FailCon.xml#L23

Dr. David Douglas has a suggestion for future work:  A new policy is coming out in the VA enabling clerks to cancel consults under certain well-defined circumstances, and it would be nice to include that in a f

[2018-10-16 18:14] linophth opened #444 "KNART a/w wrong white paper & other documents."
https://github.com/OSEHRA/vha-kbs-knarts/blob/0e0305c510db22bbe4bf280db53150ce40db70ce/content/colonoscopy/b28/CDSK_KRprt_OS_B28HepCElbGraz.xml#L24

This KNART is about hepatitis C, not colonoscopy.

[2018-10-18 15:29] linophth opened #445 "Duplicate KNART"
https://github.com/OSEHRA/vha-kbs-knarts/blob/313a45add7d1fe83d338007cb8de896c60a74c26/content/neurology_tbi_screening/b18/CDSK_KRprt_OS_B17B18B19TBI.xml#L25

This KNART needs to be eliminated.  It is a duplicate of b17, which is a combination of 3 orders sets, created that way because it did not make sense to create them separately.  The 3 duplicate order sets were created for contracting purpose

[2018-10-18 15:32] linophth opened #446 "Duplicate KNART"
https://github.com/OSEHRA/vha-kbs-knarts/blob/313a45add7d1fe83d338007cb8de896c60a74c26/content/neurology_tbi_screening/b19/CDSK_KRprt_OS_B17B18B19TBI.xml#L25

This KNART needs to be eliminated. It is a duplicate of b17, which is a combination of 3 orders sets, created that way because it did not make sense to create them separately. The 3 duplicate order sets were created for contracting purposes.

[2018-10-18 15:40] linophth opened #447 "Let's change the title of this document"
https://github.com/OSEHRA/vha-kbs-knarts/blob/313a45add7d1fe83d338007cb8de896c60a74c26/content/neurology_tbi_screening/b19/CDSK_KRprt_OS_B17B18B19TBI.xml#L25

This KNART needs to be given a title that makes more sense, accurately describes the content.  How about "Traumatic Brain Injury (TBI) order set"?

[2018-10-22 07:09] preston commented on #447
I've removed the additional words from the existing title.

[2018-10-22 07:09] #447 closed

[2018-10-22 07:11] preston commented on #447
I've removed the additional words from the existing title.

[2018-10-22 20:54] linophth opened #448 "The Clinical Content White Paper provided for this KNART is a draft, not final, document"
https://github.com/OSEHRA/vha-kbs-knarts/blob/0d1af566d395b90cb6882211109139f98a3f2229/content/rheumatology_rheumatoid_arthritis/b14/CDSK_KRprt_OS_B14RA.xml#L35

[2018-10-23 17:54] preston commented on #448
In looking into this, it seems like a holdover that affects about 73 KNARTs. I am in the process of changing this globally and then revalidating.

[2018-10-23 17:56] preston commented on #448
Note: this also affects composites, though including the status element seems redundant in all contexts I've seen.

[2018-10-23 18:34] preston opened #449 "Fix mental health validation errors."
This is a note to fix validation issues that appear to have been introduced in recent rounds of description updates.

[2018-10-23 20:00] linophth opened #450 "I edited the title here to differentiate from the other documentation template in this group"
https://github.com/OSEHRA/vha-kbs-knarts/blob/74c0496f9060d8607d754f97edc0abcbb79530ae/content/womens_health_diagnostic_breast_imaging/b44/CDSK_KRprt_CRDT_B44DxBI.xml#L18

[2018-10-23 20:05] linophth opened #451 "I edited the title to differentiate it from the other documentation template in this group"
https://github.com/OSEHRA/vha-kbs-knarts/blob/c70c3bb0dd81158bf8ccc343b425e66c19480771/content/womens_health_diagnostic_breast_imaging/b65/CDSK_KRprt_CRCK_B65DxBi.xml#L19

I also made this edit by mistake in other versions of the document

[2018-10-23 21:35] linophth opened #452 "I edited the title value"
https://github.com/OSEHRA/vha-kbs-knarts/blob/c70c3bb0dd81158bf8ccc343b425e66c19480771/content/womens_health_diagnostic_breast_imaging/b65/CDSK_KRprt_CRCK_B65DxBi.xml#L19

I also made this edit by mistake in other versions of the document

[2018-10-24 17:37] linophth commented on #136
Yes, get rid of the word "label".  It doesn't even help you with where to find the information on the webpage.

[2018-10-25 20:16] preston commented on #451
@linophth Is there anything here I need to change?

[2018-10-25 20:33] linophth commented on #451
Not if you are OK with what I did.

Linda Wedemeyer, MD, RN, MS
Physician Informatician, Clinical Decision Support
Knowledge Based Systems
Office of Informatics & Analytics
Mobile 323-422-2113
Los Angeles, CA

From: Preston Lee [mailto:notifications@github.com]
Sent: Thursday, October 25, 2018 1:16 PM
To: OSEHRA/vha-kbs-knarts <vha-kbs-knarts@noreply.github.com>
Cc: Wedemeyer, Linda <Linda.Wedemey

[2018-10-25 21:14] #451 closed

[2018-10-25 22:31] preston commented on #450
Nothing actionable.

[2018-10-25 22:31] #450 closed

[2018-10-25 22:33] preston commented on #452
Sounds like there is nothing actionable for me.

[2018-10-25 22:33] #452 closed

[2018-10-29 20:26] preston commented on #136
I have made this change in about ~194 different places, almost all within cardiology. Also affects b39 and o16.

[2018-10-29 21:33] preston commented on #136
I think I have changed them all. All validations now passing.

[2018-10-29 21:33] #136 closed

[2018-10-29 21:33] preston commented on #449
Should all be valid now.

[2018-10-29 21:33] #449 closed

[2018-10-30 22:16] linophth opened #453 "Other providers besides primary care perform TBI screening."
https://github.com/OSEHRA/vha-kbs-knarts/blob/bca27b99695f1182ee0f2c615ec60ba1b96f402e/content/neurology_tbi_screening/b41/CDSK_KRprt_CRDT_B41TBI.xml#L37

For Future Implementation:  Other specialties such as mental health and/or specialty clinics (Neurology/PM&R) may also perform TBI screening, but before modifying the knowledge artifact accordingly those other specialties should be consulted.

[2018-10-31 03:18] preston commented on #445
@linophth b18 and b19 and been removed from /content. I've made all accompanying metadata and index changes.

[2018-10-31 03:18] #445 closed

[2018-10-31 03:19] preston commented on #446
These were removed as part of #445 ff3b4afe0cdfc12421c08d3d6dd5a711a34b31c8.

[2018-10-31 03:19] #446 closed

[2018-10-31 03:35] preston commented on #453
@linophth I'm not following what the requested change is. Is there something you want changed?

[2018-10-31 04:00] preston opened #455 "Fix CCWP docbook VA logo media references."
There are maybe 6 or so variations within CCWPs on how the VA logo is rendered, presumably an inconsistency between authors or from different time frames. This will need to be split into multiple commits and is needed to render the CCWPs with new changes incorporated.

[2018-10-31 13:51] linophth commented on #453
No.  Future Implementation concern.

Linda Wedemeyer, MD, RN, MS
Physician Informatician, Clinical Decision Support
Knowledge Based Systems
Office of Informatics & Analytics
Mobile 323-422-2113
Los Angeles, CA

From: Preston Lee [mailto:notifications@github.com]
Sent: Tuesday, October 30, 2018 8:35 PM
To: OSEHRA/vha-kbs-knarts <vha-kbs-knarts@noreply.github.com>
Cc: Wedemeyer, Linda <Linda.Wedemey

[2018-11-01 23:17] preston opened #456 "Make neurosurgery white paper updates as directed by SMEs."
[20180430REVISED-CDSK_CCWP_B15B39B60CervRadi_final_508_KBS_APPROVED_LLW_V2.docx](https://github.com/OSEHRA/vha-kbs-knarts/files/2540432/20180430REVISED-CDSK_CCWP_B15B39B60CervRadi_final_508_KBS_APPROVED_LLW_V2.docx)
[20180502REVISED-CSDK_CCWP_B16B40B61LTRadi_final_508_KBS_APPROVED_LLW_V2.docx](https://github.com/OSEHRA/vha-kbs-knarts/files/2540433/20180502REVISED-CSDK_CCWP_B16B40B61LTRadi_final_50

[2018-11-02 20:18] linophth commented on #456
I am going to wait until I give you final, approved documents before I review these.  Final approval has not happened yet, although I reached out for it 10/31.

Linda Wedemeyer, MD, RN, MS
Physician Informatician, Clinical Decision Support
Knowledge Based Systems
Office of Informatics & Analytics
Mobile 323-422-2113
Los Angeles, CA

From: Preston Lee [mailto:notifications@github.com]
Sent: Thursda

[2018-11-07 23:42] preston commented on #456
@linophth Going forward, are these "final" approvals based on your annotated copy, or a revised copy produced from myself, you, or others?

[2018-11-08 21:42] linophth commented on #456
I'll send you an annotated copy of the final, approved document but we both agreed that "final" approval will occur when I review the revised copy produced by you.

[2018-11-08 21:49] preston commented on #456
Sounds good. I've asked @ssebast2 to stage these in the interim via email.

[2018-11-14 18:08] linophth opened #457 "SMEs requesting code for PHQ-plus"
https://github.com/OSEHRA/vha-kbs-knarts/blob/9933da98506e35b0b1ba116ece52f2f77cdbbb46/content/mental_health_suicidality/b52/CDSK_KRprt_SADT_B52MHSRA.xml#L398

SMEs asked if a code could be requested for PHQ-plus.  Seems it would need to be VA specific.

[2018-11-14 18:52] preston commented on #457
@linophth I don’t think I can do anything about this directly. It will need to be addressed by terminology.

[2018-11-14 19:01] linophth commented on #457
Agree.  I will try to figure out how to assign this to terminology

[2018-11-26 22:43] preston opened #458 "Incorporate tobacco assessment white paper changes from Linda."
[20180327CDSK_CCWP_O28Tobacco_508_Final_KBS_APPROVED_LLW.docx](https://github.com/OSEHRA/vha-kbs-knarts/files/2617561/20180327CDSK_CCWP_O28Tobacco_508_Final_KBS_APPROVED_LLW.docx)

(See attached for Word file from @linophth.)

@ssebast2 FYI I'll let you know once I'm done and o28 is ready to release.

[2018-11-27 19:14] ssebast2 opened #459 "Consider feedback/questions posed by @ssebast2 regarding the multi-modal neurosurgery artifacts"
@linophth
While reviewing the 2 **multi-modal** neurosurgery artifacts I noticed a few things that I wanted to run by you:

1.	**Neurosurgery: Radiculopathy (Cervical)**
a.	I would like to propose that I enter the following to align with the other 2 related neurosurgery artifacts. Is this agreeable?
i.	Source Description: Derived from Neurosurgery: Radiculopathy (Cervical) Clinical Content White P

[2018-11-27 19:54] linophth commented on #459
1a: Yes - agree.
1b Yes - agree.  We intended to provide a merged  bibliography for each white paper, so it makes sense that you would use that bibliography for each KNART individually.
1c Yes - agree.  We defined the patient population for the white paper as a whole, so that would apply to all component knowledge artifacts.
2a Yes - agree.
2b Yes - agree
2c Yes - agree.  We defined the users for

[2018-11-27 19:54] preston commented on #459
@linophth Ok -- Do you want to make the edits in the artifact XML yourself?

[2018-11-27 20:00] ssebast2 commented on #459
I have a question for the group – as these small changes arise, do you foresee me making the changes manually in the Repository and you updating your copy of the XML or do you anticipate updating the schema and resending another version to upload via the API?

Thanks,
Sharon

From: Preston Lee <notifications@github.com>
Sent: Tuesday, November 27, 2018 2:55 PM
To: OSEHRA/vha-kbs-knarts <vha-kbs-kn

[2018-11-27 21:32] ssebast2 commented on #459
@preston I am flexible. It is easy for me to update the metadata entries based upon what has been agreed to on this string but it you prefer a different approach, I am open to that. I couldn't tell which approach you proposed for the 2 multi-modal neurosurgery artifacts.

[2018-11-27 21:57] ssebast2 opened #460 "Populating dates in CDS Connect metadata"
@preston @linophth Some of the VHA artifacts have dates populated in the Repository Information metadata section (e.g.,  Publication Dates and Last Review Dates in Primary Care: Tobacco Assessment and Cessation Counseling Documentation Template and many/if not all of the Cardiology artifacts such as Cardiology: Cardiac Catheterization Documentation Template). However, the populated dates do not al

[2018-11-27 22:46] ssebast2 opened #461 "Information in the Terminology TSR attachment to Neurology: Traumatic Brain Injury (TBI) Screening Rule artifact"
@preston @linophth I noticed the following information in the **Issues** tab of the Terminology TSR excel spreadsheet. Is that okay to publish or would you prefer that we edit peoples names? Now that I look back at the Neurosurgery artifacts, similar information and Replies are also present in those Terminology TSRs.

It is completely up to you. I just wanted to provide an opportunity for you to c

[2018-11-27 22:48] linophth commented on #459
I don't have a clue how to make these edits in the XML but I am game to try.  Your call - if you dare!

[2018-11-27 23:00] linophth commented on #460
Your approach makes sense to me.

[2018-11-27 23:07] linophth commented on #461
I will forward this to leadership in my office to see how they want to handle this.  Specifically, I will ask the terminology and the informatics architecture leads.

[2018-11-28 01:01] ssebast2 commented on #461
Sounds good. Thanks Linda!

From: linophth <notifications@github.com>
Sent: Tuesday, November 27, 2018 6:07 PM
To: OSEHRA/vha-kbs-knarts <vha-kbs-knarts@noreply.github.com>
Cc: Sebastian, Sharon M <ssebastian@mitre.org>; Author <author@noreply.github.com>
Subject: Re: [OSEHRA/vha-kbs-knarts] Information in the Terminology TSR attachment to Neurology: Traumatic Brain Injury (TBI) Screening Rule art

[2018-11-28 01:04] ssebast2 commented on #460
Okay, thank you. I’ll take care of adjusting the dates on each artifact as I go.

I can also populate Last Reviewed and Publication Dates on the artifacts that don’t have existing dates.

From: linophth <notifications@github.com>
Sent: Tuesday, November 27, 2018 6:01 PM
To: OSEHRA/vha-kbs-knarts <vha-kbs-knarts@noreply.github.com>
Cc: Sebastian, Sharon M <ssebastian@mitre.org>; Author <author@nore

[2018-11-28 01:19] ssebast2 commented on #459
@linophth In response to your entry where you list answers to each of my questions: you mentioned that the white paper attached to each group of artifacts defines the Usage details for that set of artifacts. Above, I proposed the _intersection_ (what is common across each associated artifact tied to one white paper). It seems like the most accurate way to do it is to ensure that each directly alig

[2018-11-28 16:58] preston commented on #461
Just my $0.02, but I think we should continue to leave them as-is unless there is personal information or something else that clearly needs to be removed/redacted. This is good information that adds a lots of context and detail to the consumer: the thinking that went into terminology and modeling of the artifact.

[2018-11-28 21:46] linophth commented on #461
I just heard back from Keith Campbell: "I’m ok keeping names. I don’t know if there are any workplace privacy issues that would violate however. I don’t think we created any expectation of anonymity in the process../"  I vote to leave it as is.

[2018-11-29 00:44] ssebast2 opened #462 "Primary Care: Tobacco Assessment and Cessation Counseling Documentation Template"
@linophth I noticed that the title of the artifact and all supporting attachments state "Documentation Template", but the Artifact Type is listed as an Order Set. Is it okay if I update the response to Documentation Template? It is ready to publish after this update. Thanks!

[2018-11-29 01:11] ssebast2 opened #463 "Neurology: Traumatic Brain Injury (TBI) - Missing Usage, Source and References"
@linophth @preston I apologize for all the GitHub entries. I think that once we get over the hump with a handful of artifacts the rest will be a breeze. The issues that are arising are consistent, so we just need to figure out an approach moving forward.

It seems like the mulitmodal artifacts tend to be without Usage, Source, and References. This is probably because they are really comprised of s

[2018-11-29 15:19] linophth commented on #463
I would love it if you made the updates, since the learning curve would slow me down.  Let's see if Preston agrees.  I can't figure out how to assign this to him????

[2018-11-29 15:21] linophth commented on #463
I would love it if you made the updates, since the learning curve would slow me down. Let's see if Preston agrees

[2018-11-29 15:49] linophth commented on #461
OK, here is the final decision for our office from Apurva Desai.  Can we replace all names with initials?  The idea is to try to prevent sidebar conversations and edits, so we can track all comments on and edits to the documents.

[2018-11-29 15:59] a-dru-desai commented on #461
Alternatively, just include the Instance Request, Issue and Status columns from that tab.

Mr. Apurva Desai, LL.M, M.S., PMP
Health Systems Specialist
Office of Knowledge Based Systems (10A7A)
571-389-7035 (direct)/202-430-0044 (cell)/571-248-1596 (alt)

From: linophth [mailto:notifications@github.com]
Sent: Thursday, November 29, 2018 10:49 AM
To: OSEHRA/vha-kbs-knarts <vha-kbs-knarts@noreply.git

[2018-11-29 15:59] preston commented on #461
@linophth We have fully names all over the place, so I'm not sure why we'd want to start redacting only TSRs. We use full names in all white papers XML and artifact XML, as well.

[2018-11-29 16:13] a-dru-desai commented on #461
The names in the CCWPs xml and the associated artifacts are there to show clear “lineage” of the SMEs who provided the clinical content/analysis.  The TSRs are (to me) ‘working papers’ capturing terminology efforts, and I’d want to better assure that any Qs are funneled back to VA/KBS/CDS vs. being dispersed.

Mr. Apurva Desai, LL.M, M.S., PMP
Health Systems Specialist
Office of Knowledge Based Sy

[2018-11-29 16:40] ssebast2 commented on #461
The reason that I raised the question is because another contributor had a similar situation - where they realized that internal discussions/comments were present on one of the tabs of a working document, and they asked that the comments be removed and reposted. I concur with Apurva that you would want to retain the names of the SMEs that worked on the CDS in the white papers and other documentati

[2018-11-29 16:44] linophth commented on #459
Yes, I agree with you.  I guess the problem is that in writing the XML the authors interpreted what is in the white paper differently for the orders versus the documentation template.  Probably I should be the one to propose the intersection, so here it is:

Patient
	Population 18 years old or older
Clinical Focus
        Referral to Neurosurgery for Radiculopathy (Lumbar/Thoracic).
Target User

[2018-11-29 16:58] preston commented on #459
@ssebast2 Note that we have 2 types of XML files, white papers (in DocBook format) and artifacts (in KNART format). These particular fields are in the artifact XML, and IIRC are supposed to be _coded_ values; so it's not just that they are globally wrong, but the correct ones were not reviewed for coding by our terminology team.

I'm all for fixing all these, and just want to clarify that the edit

[2018-11-29 17:11] preston commented on #462
That was probably an upstream transform error on my part, sorry. :(

[2018-11-29 17:18] a-dru-desai commented on #461
So let’s redact, then.

Mr. Apurva Desai, LL.M, M.S., PMP
Health Systems Specialist
Office of Knowledge Based Systems (10A7A)
571-389-7035 (direct)/202-430-0044 (cell)/571-248-1596 (alt)

From: ssebast2 [mailto:notifications@github.com]
Sent: Thursday, November 29, 2018 11:41 AM
To: OSEHRA/vha-kbs-knarts <vha-kbs-knarts@noreply.github.com>
Cc: Desai, Apurva D. <Apurva.Desai@va.gov>; Mention <menti

[2018-11-29 17:56] ssebast2 commented on #459
@preston Oh boy, this is getting complicated. I have been taking the information in the white papers and attached PDFs as the source of truth and thought that the population of the CDS Connect metadata was a one-off activity. I've been comparing what is listed in the Conceptual Structure pdfs (see example below) to the CDS Connect metadata (defined in the XML?).

Where that process breaks down is

[2018-11-29 18:18] linophth commented on #459
Let me propose a solution.   The white papers were very carefully reviewed, and most of the time should be presumed correct.  The Conceptual Structure documents were generated from the artifact XML.  The artifact XML is LOADED with errors - I would not use anything in it or derived from it as a source of truth.  Because we did not have IT money, we were not allowed to write software and thus we co

[2018-11-29 19:16] ssebast2 commented on #459
Okay, that works for me. So as I move forward I will enter text that aligns with the associated white paper for _every_ artifact if I find that what is populated does not align.

[2018-11-29 19:30] linophth commented on #459
Sounds good to me.

[2018-11-29 19:30] ssebast2 commented on #461
Okay. I will remove the names of respondents in the Reply column of the Issues tab in each Terminology TSR that is uploaded to an artifact, and just leave their response and the date (when it is available).

[2018-11-29 19:38] linophth commented on #461
Note that people's names are often in more than 1 column, intermingled with the text.

[2018-11-29 20:08] ssebast2 opened #464 "Radiculopathy (Cervical): Usage details do not align across the White Paper and the Documentation Template and Order Set Conceptual Structure documents"
@linophth This is for organizational awareness. I know that the white paper is the source of truth and Repository metadata should align with that.

[2018-11-29 20:10] ssebast2 commented on #462
This is fixed and live on the Repository!

[2018-11-29 20:10] #462 closed

[2018-11-29 20:31] ssebast2 commented on #461
@linophth It is a bit of a slippery slope, where you draw the line. The other organization's sensitivity was in the dialogue of the replies to issues (i.e., comments). It may become a LOE constraint to make changes across the entire spreadsheet. I've replaced individual's names with "Reply:" in the Reply column. If you want, I can also remove Column B entirely (Opened by) and the names of individu

[2018-11-30 17:49] ssebast2 commented on #461
Sounds good. Thanks everyone!

[2018-11-30 22:32] linophth commented on #463
I think we need to let Preston make the call on technical workflow – I’m happy with whatever he decides.

Linda Wedemeyer, MD, RN, MS
Physician Informatician, Clinical Decision Support
Knowledge Based Systems
Office of Informatics & Analytics
Mobile 323-422-2113
Los Angeles, CA

From: ssebast2 [mailto:notifications@github.com]
Sent: Friday, November 30, 2018 2:24 PM
To: OSEHRA/vha-kbs-knarts <vha-

[2018-11-30 22:32] linophth commented on #463
I think we need to let Preston make the call on technical workflow – I’m happy with whatever he decides.

[2018-11-30 22:35] ssebast2 commented on #463
Roger that. I am happy to do whatever is decided.

[2018-12-20 18:55] linophth opened #465 "Make opioid white paper changes as directed by SMEs."
The opioid white paper is now ready for sharing with CDS Connect.  My edits, in response to SME comments, are in the attached document, with tracking turned on.
[20180608REVISED-CSDK_CCWP_O21O29O34Opioid_final_508_copyright_KBS_APPROVED_LLWFinalEdits.docx](https://github.com/OSEHRA/vha-kbs-knarts/files/2700133/20180608REVISED-CSDK_CCWP_O21O29O34Opioid_final_508_copyright_KBS_APPROVED_LLWFinalEdits

[2018-12-20 19:04] linophth opened #466 "Hypoglycemia White Paper Ready to Share"
The hypoglycemia white paper is ready to share.  The attached document contains my edits in response to SME feedback, with tracking turned on.
[20180524REVISED-CDSK_CCWP_B3B33B45B66Hypogly_final_508_copyright_KBS_APPROVED_LLWedits.docx](https://github.com/OSEHRA/vha-kbs-knarts/files/2700150/20180524REVISED-CDSK_CCWP_B3B33B45B66Hypogly_final_508_copyright_KBS_APPROVED_LLWedits.docx)

[2018-12-21 04:55] preston commented on #466
@linophth We don't actually have the ability to release white papers by themselves: only as attachments to artifacts. Are the artifacts also ready?

[2018-12-21 04:56] preston commented on #465
@linophth Are the artifacts ready once the white paper changes are made?

[2018-12-21 21:22] linophth commented on #465
Yes

[2018-12-21 21:30] linophth commented on #466
I will change my comments to indicate that only the white papers are ready for release, since I am not doing anything with the other artifacts - Franklin Cuello is handling that.

[2018-12-21 21:33] linophth commented on #465
Let me restate the comment above.  Only the white paper that I attached to my comment is ready for release, once the changes I made (with tracking turned on) are incorporated.  I will not be making the edits to the other artifacts - Franklin Cuello will be handling that.

[2018-12-21 21:55] preston commented on #465
Ok — just confusing since we don’t have the ability to release white papers prior to artifact release.

[2019-01-03 16:30] #459 closed

[2019-01-03 16:32] ssebast2 commented on #463
@preston Is it okay if I go ahead and manually add Source and Reference entries to the TBI and Neurosurgery artifacts so I can get them published?

Moving forward, for artifacts not already uploaded to the Repository, we can revisit the workflow (i.e., you can update the XML and re-upload if you prefer or I can manually add the Source and Reference). Just let me know your preference.

[2019-01-03 17:26] linophth opened #467 "Make post deployment screening white paper changes as approved by VA SMEs."
The Post Deployment Screening white paper has been approved by VA SMEs for sharing.  I will attach the Word document that reflects edits desired by the SMEs.  Franklin Cuello will take over from here & handle editing in DocBook.
[20180511_CDSK_CCWP_B4B51O3O13IraqAfghanPD_final_508_copyright_KBS_APPROVED_LLW.docx](https://github.com/OSEHRA/vha-kbs-knarts/files/2724703/20180511_CDSK_CCWP_B4B51O3O13I

[2019-01-03 17:33] linophth opened #468 "The Suicide white paper has been approved by VA SMEs for sharing."
The Suicide white paper has been approved by VA SMEs for sharing.
[20180515REVISED-CDSK_CCWP_O20B52Suicidality_final_508_copyright_KBS_APPROVED_LLW.docx](https://github.com/OSEHRA/vha-kbs-knarts/files/2724736/20180515REVISED-CDSK_CCWP_O20B52Suicidality_final_508_copyright_KBS_APPROVED_LLW.docx)
 I will attach the Word document that reflects edits desired by the SMEs.  Franklin Cuello will take ove

[2019-01-03 18:11] preston commented on #468
@linophth Any word on the KNARTs?

[2019-01-03 18:14] preston commented on #463
@ssebast2 If you want to edit the white paper XML (not the Word or PDF copy directly), either on master or via a pull request (PR), myself or @fcuello can rerender the PDFs that CDS Connect posts. As long as @linophth is ok with the changes themselves I am good with you making the XML changes!

[2019-01-03 18:53] ssebast2 commented on #463
@preston I am proposing that I type an entry "response" in to the repository Source and Reference fields. The responses would align with what is in the white paper. If I do this, there is no need to adjust the XML at all. It is a work around to finish up the 3 multi-modal artifacts that are pending publishing.

I am requesting approval for me to manually add metadata responses. That is a quick, ea

[2019-01-03 20:36] linophth commented on #468
I have no idea.  I am not editing XML, so I am not the one to ask.  I think Diane is trying to clarify who is the one to ask.

[2019-01-11 22:27] linophth opened #469 "Make Psoriatic Arthritis white paper changes as approved by VA SMEs."
The psoriatic arthritis white paper has been approved for sharing by VA SMEs.  The attached Word document contains the requested edits, with tracking turned on.  There has been no review of related KNART XML or any other artifact.  Franklin Cuello will edit DocBook in accordance with the revised white paper.
[20180430REVISED-CDSK_CCWP_O23PsoriaticArthritis_final_508_copyright_ApprovedBySMEs2019011

[2019-01-11 22:31] linophth opened #470 "Rheumatoid arthritis white paper approved by VA SMEs without modification"
The Rheumatoid arthritis white paper has been approved by VA SMEs without modification.  There was no review of, or edits to, any other related artifact including KNART XML.

[2019-01-12 00:58] linophth opened #471 "The family health history white paper has been approved by VA SMEs without modification."
The family health history white paper has been approved by VA SMEs without modification.  There has been no review or editing of KNART XML or of any other related artifacts.

[2019-01-14 16:43] linophth opened #472 "Make general clinical note white paper changes as approved by VA SMEs."
The General Clinical Note white paper has been approved by VA SMEs.  There has been no review of artifacts other than the white paper.  The attached Word document includes the edits requested by SMEs, with tracking turned on.
[20180420REVISED-CDSK_CCWP_O33GenClinNote_Final_508_KBS_APPROVED _SMEApproved.docx](https://github.com/OSEHRA/vha-kbs-knarts/files/2756119/20180420REVISED-CDSK_CCWP_O33GenCli

[2019-01-14 18:35] linophth opened #473 "Make PTSD white paper changes as approved by VA SMEs."
The PTSD white paper has been approved for sharing by VA SMEs.  Only the white paper has been reviewed - no related artifacts were reviewed.  The attached Word document includes edits requested by the SMEs, with tracking turned on - this is the approved version.
[20180506CDSK_CCWP_037PTSD_final_508_KBS_APPROVED_LLW.docx](https://github.com/OSEHRA/vha-kbs-knarts/files/2756581/20180506CDSK_CCWP_037P

[2019-01-14 19:09] linophth opened #474 "The Depression white paper has been approved for review by VA SMEs."
The Depression white paper has been approved for sharing y VA SMEs.  The edited Word document (tracking turned on) that is attached is the version approved by SMEs.  No other related artifacts were reviewed.
[20180413CDSK_CCWP_B34B46B67DepConsul_Final_508_copyright_KBS_APPROVED_LLW.docx](https://github.com/OSEHRA/vha-kbs-knarts/files/2756693/20180413CDSK_CCWP_B34B46B67DepConsul_Final_508_copyright

[2019-01-28 19:34] #470 closed

[2019-01-28 19:34] #471 closed

[2019-01-28 19:34] #474 closed

[2019-01-28 20:43] #468 closed

[2019-01-30 03:10] preston commented on #464
No action.

[2019-01-30 03:10] #464 closed

[2019-01-30 03:12] preston commented on #455
Should be fixed now.

[2019-01-30 03:12] #455 closed

[2019-01-31 00:20] preston commented on #473
@Fcuello Have all these changes been made?

[2019-01-31 00:33] preston commented on #474
@a-dru-desai FYI this is another case where the entire appendix of acronyms is missing from the delivered XML. :(

[2019-01-31 15:14] linophth commented on #473
I do not understand what is going on here.  Is there some kind of action for me to take?

[2019-01-31 15:16] linophth commented on #474
I do not understand what this conversation is about - please clarify

[2019-02-04 21:09] preston commented on #456
@Fcuello I'm seeing some changes to lumbarthoracic from you last week, but not any to cervical. Is that correct?

[2019-02-04 21:21] preston commented on #456
@Fcuello Actually I think I may be confused or made a packaging error. Could you check the PDF version and verify that your changes are present?
https://github.com/OSEHRA/vha-kbs-knarts/blob/master/content/neurosurgery_cervical_radiculopathy/CDSK_CCWP_B15B39B60CervRadi.pdf

[2019-02-04 22:40] preston commented on #467
Will be submitted in the next day or so.

[2019-02-04 22:40] #467 closed

[2019-02-04 22:57] preston commented on #471
Will be submitted to CDS Connect in the next day or two.

[2019-02-06 19:18] Fcuello commented on #456
When I tried to push this back up git bash said it was up to date.  I assume these were updated by someone other than me and they forgot to make a note.

[2019-02-06 20:54] linophth commented on #456
I did not make any recent changes in these documents.

[2019-02-07 18:28] preston commented on #465
Reported as complete by @Fcuello today. I will be rendering and packing for delivery to CDS Connect today.

[2019-02-07 18:28] #465 closed

[2019-02-07 18:37] preston commented on #473
@a-dru-desai @linophth For posterity, this particular white paper XML file has 875 instances of tooling cruft that for whatever reason are cluttering up the version delivered to us. I am in the process of removing them, though am hoping this is a one-off instance and there are no other substantives oddities or differences going on between the delivered white paper XML and version reviewed by SMEs.

[2019-02-07 19:23] preston commented on #473
@Fcuello I've fixed all the xxe stuff. A cursory review of the new PDF seems to include all the changes you made and there are no obvious content differences jumping out at me.

[2019-02-07 19:24] preston commented on #473
Completed. Will deliver for CDS Connect publication shortly.

[2019-02-07 19:24] #473 closed

[2019-02-07 19:28] preston commented on #472
@Fcuello This was is fully completed, correct? (I thought so earlier this week.)

[2019-02-07 19:29] preston commented on #453
@Fcuello Re: TBI this is the only issue that came to mind, but it is a future thing.

[2019-02-07 19:30] Fcuello commented on #472
@preston yes

[2019-02-07 19:33] Fcuello commented on #469
@preston i just checked on git bash and it says that my branch is up to date with the master, so yes.

[2019-02-07 19:35] preston commented on #472
Completed and delivered to CDS Connect for review and release.

[2019-02-07 19:35] #472 closed

[2019-02-07 19:36] #469 closed

[2019-02-07 19:39] Fcuello commented on #456
@preston I just checked, there was only one edit on the SME version of the word doc and it is reflected on the rendered pdf version.  I think we are ok on this one.

[2019-02-07 19:57] preston commented on #456
@Fcuello Ok cool -- I wasn't sure if these were current on CDS Connect so I manually updated the files there just in case. CC @ssebast2

[2019-02-07 19:58] preston commented on #456
Completed.

[2019-02-07 19:58] #456 closed

[2019-02-07 20:06] preston opened #475 "Make any remaining changes to colonoscopy white paper XML."
Attached is the white paper @linophth had sent out on January 19th, 2019, as approved by VA SMEs.
[20180525REVISED-CDSK_CCWP_B1B20B21B22B23B24B25B26B27B42B63Colos_final_508_copyright_KBS_APPROVED_LLW.JAD edits.docx](https://github.com/OSEHRA/vha-kbs-knarts/files/2842500/20180525REVISED-CDSK_CCWP_B1B20B21B22B23B24B25B26B27B42B63Colos_final_508_copyright_KBS_APPROVED_LLW.JAD.edits.docx)

[2019-02-07 20:38] preston commented on #463
@Fcuello Could you take a look at this?

[2019-02-11 17:40] preston commented on #475
@Fcuello Would it be possible to get these edits today?

[2019-02-12 18:31] Fcuello commented on #475
@preston done, there were only a couple of edits.

[2019-02-13 03:44] preston commented on #475
Sent over to @ssebast2 today.

[2019-02-13 03:44] #475 closed

[2019-02-13 05:23] preston commented on #470
Associated artifacts have been delivered to @ssebast2 for CDS Connect publication.

[2019-02-13 05:23] preston commented on #471
Associated artifacts have been delivered to @ssebast2 for CDS Connect publication.

[2019-02-19 01:06] ssebast2 opened #476 "Correct title for the Mental Health: Iraq & Afghanistan Post-Deployment Screen - Rule to Create Appropriate Order Set artifact"
I noticed that the existing title for the following artifact may have a redundant "Rule" at the end of the title. Would you like me to remove the second "Rule"?

As is: Mental Health: Iraq & Afghanistan Post-Deployment Screen - Rule to Create Appropriate Order Set Rule

Possible title: Mental Health: Iraq & Afghanistan Post-Deployment Screen - Rule to Create Appropriate Order Set

Title in the Whi

[2019-02-19 18:34] preston commented on #476
@ssebast2 Yup,  just please leave this assigned to me so I can change the source of truth.

[2019-02-20 00:16] preston commented on #476
Original cross references fixed.

[2019-02-20 00:16] #476 closed

[2019-02-20 02:12] ssebast2 commented on #476
Thanks Preston. I'll ask Dave to make the update available on the Repository.

[2019-02-20 17:53] preston commented on #476
Thanks -- changes are live now

[2019-02-20 19:27] preston commented on #258
OBE. Note that the validation report _is_ available and checked in.

[2019-02-20 19:27] #258 closed

[2019-03-05 21:58] linophth opened #477 "Chest Pain white paper needs decision tree"
Chapter 4.6 Cardiac  Risk Stratification
       This section is overly complex, requiring the requesting provider to read each possible test individually, and then try to decide where their particular patient fits.  A decision tree based on presence or absence of known CAD, ability to exercise, resting ECG, etc. which would eventually lead to the correct choice, would probably be appreciated by th

[2019-04-04 15:20] linophth opened #478 "Chest pain white paper approved by VA Clinical SMEs"
The chest pain white paper can now be shared with CDS connect once technical modifications have been made by  Pivotal staff and Preston.

[2019-04-04 17:29] preston commented on #478
@linophth What technical modifications?

[2019-04-04 17:40] linophth commented on #478
None, if there aren't any.  Whatever happens after the documents leave my  hands - that process is still pretty opaque to me.

[2019-05-02 21:47] linophth opened #480 "Breast Cancer Screening White Paper Approved by VA SMEs to share w CDS Connect"
After the table to contents is updated, this document will be ready for conversion to DocBook and sharing with CDS Connect.

[2019-05-03 19:23] emily-knight commented on #480
@ntuteja

[2019-05-03 19:58] linophth commented on #480
Table of Contents updated - use this document for conversion to DocBook
[20180605REVISED-CDSK_CCWP_O4B31B53BCS_final_508_copyright_KBS_modifiedForCDSConnect_EKeditsTOC_05.03.19.docx](https://github.com/OSEHRA/vha-kbs-knarts/files/3143386/20180605REVISED-CDSK_CCWP_O4B31B53BCS_final_508_copyright_KBS_modifiedForCDSConnect_EKeditsTOC_05.03.19.docx)

[2019-05-03 19:59] a-dru-desai commented on #480
Understood

Regards,

Mr. Apurva Desai, LL.M, M.S., PMP
Health Systems Specialist
Office of Knowledge Based Systems (10A7A)
571-389-7035 (direct)/202-430-0044 (cell)/571-248-1596 (alt)

[2019-05-08 14:31] linophth opened #481 "Cervical Cancer Screening White Paper Approved by VA SMEs to share w CDS Connect"
[CDSK_CCWP_O5O14O22CervCan_final_508_KBS_SMEApproved.docx](https://github.com/OSEHRA/vha-kbs-knarts/files/3157810/CDSK_CCWP_O5O14O22CervCan_final_508_KBS_SMEApproved.docx)
[CDSK_CCWP_O5O14O22CervCan_final_508_KBS_SMEApproved.docx](https://github.com/OSEHRA/vha-kbs-knarts/files/3157815/CDSK_CCWP_O5O14O22CervCan_final_508_KBS_SMEApproved.docx)

There are 2 documents attached.  One is the final, appr

[2019-05-08 17:48] preston commented on #481
Who will be updating the white paper XML?

[2019-05-08 18:15] emily-knight commented on #481
@preston Nikhil (@ntuteja) is updating the white paper XML

[2019-05-08 18:16] linophth commented on #481
Nikhil Tuteja

Linda Wedemeyer, MD, RN, MS
Physician Informatician
Knowledge Based Systems (KBS)
Clinical Informatics and Data Management Office (CIDMO)
323-422-2113

From: Preston Lee <notifications@github.com>
Sent: Wednesday, May 08, 2019 10:49 AM
To: OSEHRA/vha-kbs-knarts <vha-kbs-knarts@noreply.github.com>
Cc: Wedemeyer, Linda <Linda.Wedemeyer@va.gov>; Author <author@noreply.github.com>
Subje

[2019-06-17 22:20] linophth opened #482 "Reproductive Health white paper approved by VA SME's for sharing with CDS connect."
The reproductive health white paper has been extensively edited, then approved, by VA clinical leadership.
[ReproductiveHealth0617_SMEApprovedCleanCopy.docx](https://github.com/OSEHRA/vha-kbs-knarts/files/3299047/ReproductiveHealth0617_SMEApprovedCleanCopy.docx)
[ReproductiveHealth0617_SMEApprovedTrackChanges.docx](https://github.com/OSEHRA/vha-kbs-knarts/files/3299048/ReproductiveHealth0617_SMEAp

[2019-06-18 13:56] linophth commented on #482
I take it back - the reproductive health white paper is NOT quite ready - needs review by Sally Haskell first.  This is a good thing - we're making sure it's done right.

[2019-07-29 15:45] linophth commented on #482
Sally Haskell has now given her approval - these documents are now ready to go.

[2019-07-30 21:35] linophth opened #483 "2 of 3 osteoporosis white papers approved by VA SMEs for sharing w CDS Connect"
Clean copies of documents will be attached to this comment.  Documents have been completely re-written/re-organized/split into 3 white papers, and renamed, and there need
be no comparison made to prior versions of the osteoporosis white paper. A third document will be created to address f/u of abnormal DEXA scans.

[Osteo Age Less Than 65  Clean Copy.docx](https://github.com/OSEHRA/vha-kbs-knarts/

[2019-08-05 15:38] linophth commented on #483
Both documents have had a single update to facilitate future terminology work.  Track changes was turned on.
[Osteo Age Less Than 65  Clean Copy  Updated 0805 LLW.docx](https://github.com/OSEHRA/vha-kbs-knarts/files/3468335/Osteo.Age.Less.Than.65.Clean.Copy.Updated.0805.LLW.docx)
[Osteo age more than 65-CleanCopy_Updated0805_LLW.docx](https://github.com/OSEHRA/vha-kbs-knarts/files/3468336/Osteo.ag

[2019-09-10 16:24] linforestzhang opened #484 "Two typos in the Hypoglycemia Rule"
This feedback is about the following CDS Connect Artifact:
Endocrinology: Hypoglycemia Rule
https://cds.ahrq.gov/cdsconnect/artifact/endocrinology-hypoglycemia-rule

In the XML file of its ECA Rule (i.e., CDSK_KRprt_ECA_B3Hypogly.xml), there is two typos:

Line 751
<elm:operand xsi:type="elm:Quantity" unit="persent" value="7"/>
The unit should be "percent".

Another typo:
"Actifvate" should be "Ac

[2019-10-10 21:56] linophth opened #485 "f/u mammogram white paper"
The mammogram follow-up white paper has now been approved by VA SMEs to be prepared for sharing with CDS Connect.  This was previously called the Diagnostic Mammography white paper, but the name has been revised in keeping with the extensive edits that have been made – the majority of the content has been revised.  It has been long enough since I last submitted a white paper that I don’t want to m

[2019-12-11 16:16] linophth opened #486 "Osteoporosis Follow-Up White Paper approved by VA SMEs"
The final osteoporosis white paper has been approved by VA SMEs.  This one was written de novo, after the contract, so all of the subsequent work (Doc Book, XML, etc.) will not be available to modify.

[2019-12-11 16:27] linophth commented on #486
Note that the functionality to upload the document does not seem to be working.  I have emailed the document to everyone this issue is assigned to.

[2020-02-25 20:54] linophth opened #487 "Hepatits C white paper approved for sharing by VA SMEs"
The process for attaching documents to issues is Github is not working, so i will just pass the documents around by email.